################################################################################
# .NET Core & Visual Studio
################################################################################
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.doccache
.DS_Store
out/

################################################################################
# Arquivos de Configuração Sensíveis (SEGURANÇA)
################################################################################
# Ignora o arquivo com suas senhas da Azure, Meta e Gmail
appsettings.json
appsettings.Development.json

################################################################################
# Docker
################################################################################
.dockerignore
# Se você tiver senhas no docker-compose local, pode ignorar também:
# docker-compose.override.yml

################################################################################
# Node / Angular (Caso o Front-end esteja na mesma pasta)
################################################################################
node_modules/
dist/
.angular/
.npm/
npm-debug.log*

################################################################################
# Outros
################################################################################
.idea/
.vscode/
*.swp
*.bak