################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjetoMetaMensagem/FileContentIndex/cb8b1fb2-8c72-47e3-9887-737e610d0ff5.vsidx
